﻿@model Repository.Models.Product

@{
    ViewBag.Title = "Edit";
}

@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        You don't have enouogh count of this product!!!
        <br /> Try again.
    </div>
}

<h2>Edit count of product</h2>
<h4>Type: @Model.Type</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.HowManyDecreaseCount)
        @Html.HiddenFor(model => model.ExpirationDate)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.User)
        @Html.HiddenFor(model => model.InShoppingList)

        <div class="form-group">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfCountList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypeOfCountList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeOfCountList, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change" class="btn btn-success" />
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}




