﻿@model IEnumerable<Repository.Models.Product>

@{
    ViewBag.Title = "ShowShoppingList";
}

<h2>Shopping List</h2>

<p>
    @Html.ActionLink("Add product to shopping list", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>Function</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
                @Html.DisplayFor(modelItem => item.TypeOfCountList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })

                @using (Html.BeginForm("Delete", "ShoppingList", new { id = item.ProductId }, FormMethod.Post))
                {
                    @Html.Hidden("ProductId", item.ProductId)
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want delete this product?')" class="btn btn-danger" />
                }
            </td>
        </tr>
    }
</table>

<div>
    @using (Html.BeginForm("MoveProductsToFridge", "ShoppingList", null, FormMethod.Post))
    {
        <input type="submit" value="Move products to fridge" class="btn btn-success" />
    }
</div>