﻿@model Repository.Models.Product

@{
    ViewBag.Title = "Edit";
}

@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Error: Can't edit product!!!
        <br /> Try again.
    </div>
}

<h2>Edit product</h2>
<h4>Type: @Model.Type</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.Count)
        @Html.HiddenFor(model => model.TypeOfCountList)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.User)    
        @Html.HiddenFor(model => model.InShoppingList)    

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
