﻿@model PagedList.IPagedList<Repository.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/myCssFile.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Error: You don't have this product!!!
    </div>
}

<h2>Products in the fridge</h2>

<p>
    @Html.ActionLink("Add product to fridge", "Create", null, new { @class = "btn btn-primary"})
</p>

<div>
    <form id="search" method="get" , data-ajax="true" data-ajax-target="#productsList" data-ajax-update="#productsList">
        <input id="ProductsSought" , name="ProductsSought" placeholder="Type of product..." style="width: 200px" />
        <input type="submit" value="Search" />
    </form>
    <br /><br />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ExpirationDate)
        </th>
        <th>Function</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.ExpirationDate <= DateTime.Now || item.Count == 0)
        {
            <td class="warning">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.Count)
                @Html.DisplayFor(modelItem => item.TypeOfCountList)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td class="warning">
                @using (Html.BeginForm("MoveToShoppingList", "Fridge", new { id = item.ProductId }, FormMethod.Post))
                {
                    @Html.Hidden("InShoppingList", item.InShoppingList)
                    <input type="submit" value="Move to shopping list" class="btn btn-warning" />
                }

                @using (Html.BeginForm("Delete", "Fridge", new { id = item.ProductId }, FormMethod.Post))
                {
                    @Html.Hidden("ProductId", item.ProductId)
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want delete this product?')" class="btn btn-danger" />
                }
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
                @Html.DisplayFor(modelItem => item.TypeOfCountList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Take", "ChangeCountOfProduct", new { id = item.ProductId }, new { @class = "btn btn-success" }) | 
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" }) 

                @using (Html.BeginForm("Delete", "Fridge", new { id = item.ProductId }, FormMethod.Post))
                {
                    @Html.Hidden("ProductId", item.ProductId)
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want delete this product?')" class="btn btn-danger" />
                }                                      
            </td>

        }
    </tr>
}

</table>

<div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>