﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Mateusz Bedła</strong>   <a href="mailto:mateuszbedla@gmail.com">mateuszbedla@gmail.com</a><br />
    <strong>Bartosz Betka:</strong> <a href="mailto:mlobar0202@outlook.com">mlobar0202@outlook.com</a>
</address>