﻿@{
    ViewBag.Title = "Fridge Online";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>
            <div>
                Fridge online is application for all people. This application will be use to control food and shopping. <br />
                <strong>Fridge online features:</strong>
                <ul>
                    <li>
                        Login and registration
                    </li>
                    <li>
                        Add start content
                    </li>
                    <li>
                        Follow the fridge content
                    </li>
                    <li>
                        Add shopping days
                    </li>
                    <li>
                        Generate shopping list
                    </li>
                    <li>
                        Generate shopping list for meal
                    </li>
                    <li>
                        Specification articles which sometimes must be eat
                    </li>
                    <li>
                        Spoiling food alert
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <img src="https://stat-m6.ms-online.pl//media/cache/filemanager_original/images/desc/89/89465/pl_rsh5zlbg1-xeo_002_front-open.jpg" height="300" width="300">
        </td>
    </tr>
</table>

