﻿@model Repository.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>E-mail:</dt>
        <dd>
            @User.Identity.Name
        </dd>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <center>
        @using (Html.BeginForm("Delete", "User"))
            {
            @Html.Hidden("id", User.Identity.Name)
            <input type="submit" value="Delete Account" onclick="return confirm('Are you sure you want delete account?')" class="btn btn-danger" />
        }
    </center>

</div>
